<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>PICO Research</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">


</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER ENDS START ======-->

    <!--====== HEADER PART START ======-->

    <header id="home" class="header-area">
        <div class="navigation fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-sm">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/images/logo.png" alt="Logo">
                            </a> <!-- Logo -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active"><a class="page-scroll" href="#home">Home</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#about">About</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#service">FAQs</a></li>
                                    <!-- <li class="nav-item"><a class="page-scroll" href="#work">Portfolio</a></li>-->
                                    <li class="nav-item"><a class="page-scroll" href="#blog">Team</a></li> 
                                    <li class="nav-item"><a class="page-scroll" href="#contact">Contact</a></li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->

        <div id="parallax" class="header-content d-flex align-items-center">
            <div class="layer">
            </div>
            <div class="heading-photo">
                <div class="layer-heading">
                </div>  
            </div> 
            <!-- 
            <div class="header-shape shape-tow layer" data-depth="0.30">
                <img src="assets/images/banner/shape/shape-2.png" alt="Shape">
            </div> 
            <div class="header-shape shape-three layer" data-depth="0.40">
                <img src="assets/images/banner/shape/shape-3.png" alt="Shape">
            </div>
            <div class="header-shape shape-fore layer" data-depth="0.60">
                <img src="assets/images/banner/shape/shape-2.png" alt="Shape">
            </div> 
            <div class="header-shape shape-five layer" data-depth="0.20">
                <img src="assets/images/banner/shape/shape-1.png" alt="Shape">
            </div> 
            <div class="header-shape shape-six layer" data-depth="0.15">
                <img src="assets/images/banner/shape/shape-4.png" alt="Shape">
            </div> 
            <div class="header-shape shape-seven layer" data-depth="0.50">
                <img src="assets/images/banner/shape/shape-5.png" alt="Shape">
            </div> 
            <div class="header-shape shape-eight layer" data-depth="0.40">
                <img src="assets/images/banner/shape/shape-3.png" alt="Shape">
            </div> 
            <div class="header-shape shape-nine layer" data-depth="0.20">
                <img src="assets/images/banner/shape/shape-6.png" alt="Shape">
            </div> 
            <div class="header-shape shape-ten layer" data-depth="0.30">
                <img src="assets/images/banner/shape/shape-3.png" alt="Shape">
            </div> header shape -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="header-content-right">
                            <h4 class="sub-title">Welcome to PICO</h4>
                            <!-- <h1 class="title">Mark Parker</h1> -->
                            <p>The social app used to accelerate research.</p>
                            
                        </div> <!-- header content right -->
                    </div>
                    
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-social">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-social-icon">
                                <ul>
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-behance-original"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                                </ul>
                            </div> <!-- header social -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- header social -->
        </div> <!-- header content -->
    </header>

    <!--====== HEADER PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section id="about" class="about-area pt-125 pb-130"> 
        <div class="container">
            <div class="row justify-content-center" id="mission">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="title">Our Mission</h2>
                        <p>PICO’s mission is to revolutionize and innovate the traditional recruitment and participation process for research studies. We want to address the numerous challenges experienced by participants and researchers throughout study recruitment and participation. PICO wants to make research a positive, collaborative and fun experience. We hope that our program is the first step to create better interaction between participants and researchers with the goal to make research recruitment more accessible to the public.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            
        </div> <!-- container -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-30">
                        <h2 class="title">Our Values</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-world"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#">Accessibility</a></h4>
                            <p>Research participation should be easily accessible to all. </p>
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-network"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#contact">Collaboration</a></h4>
                            <p>We want to create an environment that will allow for everyone to easily contribute to the research community.</p>
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-invention"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#">Development</a></h4>
                            <p>We believe each member of our society has a voice and unique experiences that will benefit the development of new academic findings.
                            </p>
                        </div>
                    </div> <!-- single service -->
                </div>
                
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section> 

    <!--====== ABOUT PART ENDS ======-->

    <!--====== SERVICES PART START ======-->

    <section class="services-area gray-bg pt-125 pb-130">
        
    </section>

    <!--====== SERVICES PART ENDS ======-->

    <!--====== CALL TO ACTION PART START ======-->
<!-- 
    <section id="call-to-action" class="call-to-action pt-125 pb-130 bg_cover" style="background-image: url(assets/images/call-to-action.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="call-action-content text-center">
                        <h2 class="action-title">Have any project on mind?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nostrud.</p>
                        <ul>
                            <li><a class="main-btn custom" href="#">download cv</a></li>
                            <li><a class="main-btn custom-2" href="#">hire me</a></li>
                        </ul>
                    </div> 
                </div>
            </div> 
        </div> 
    </section> -->

    <!--====== CALL TO ACTION PART ENDS ======-->

    <!--====== WORK PART START ======-->

    

    <!--====== WORK PART ENDS ======-->

    <!--====== PRICING PART START ======-->

    <section id="service" class="pricing-area gray-bg pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">Frequently asked questions</h2>
                        <p>Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis, urna est ultricies eros, ac porta sem turpis quis leo.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div>
                    <div id="question" class="single-pricing text-center mt-30">
                        <div class="pricing-package">
                            <h5 class="package-title">How do we work?</h5>
                        </div>
                        <div class="pricing-body">
                            
                            <div class="pricing-list">
                                <p>PICO will strongly rely on collaboration among participants and researchers. 
                                    As a participant, you will have the power and opportunity to be involved in the revolutionary research world. Your unique background will contribute to the development of new findings in our society. As well, if discussed with your researcher, there is a potential opportunity for you to earn money for your participation.
                                    As a researcher, you will have the chance to connect with various research participants that are eligible for your study. Considering that many research projects are on hold due to  current pandemic restrictions, this is an opportunity for you to consider innovative ways to re-design your study and re-plan your research budget with the goal to promote research participation and to conduct your study.
                                    </p>
                            </div>
                            
                        </div>
                    </div> <!-- single pricing -->
                </div>
                <div>
                    <div id="question" class="single-pricing text-center mt-30">
                        <div class="pricing-package">
                            <h5 class="package-title">Why should you join?</h5>
                        </div>
                        <div class="pricing-body">
                            
                            <div class="pricing-list">
                                <p>PICO will strongly rely on collaboration among participants and researchers. 
                                    As a participant, you will have the power and opportunity to be involved in the revolutionary research world. Your unique background will contribute to the development of new findings in our society. As well, if discussed with your researcher, there is a potential opportunity for you to earn money for your participation.
                                    As a researcher, you will have the chance to connect with various research participants that are eligible for your study. Considering that many research projects are on hold due to  current pandemic restrictions, this is an opportunity for you to consider innovative ways to re-design your study and re-plan your research budget with the goal to promote research participation and to conduct your study.
                                    
                                    </p>
                            </div>
                            
                        </div>
                    </div> <!-- single pricing -->
                </div>
                <div>
                    <div id="question" class="single-pricing text-center mt-30">
                        <div class="pricing-package">
                            <h5 class="package-title">What type of studies can I be involved in?
                            </h5>
                        </div>
                        <div class="pricing-body">
                            
                            <div class="pricing-list">
                                <p>PICO wants to promote the creation of diverse research studies across different disciplines. We love creativity and we want to empower you throughout this process. Information about the study will be discussed between the participant and researcher after they match.
                                    </p>
                            </div>
                            
                        </div>
                    </div> <!-- single pricing -->
                </div>

                <div>
                    <div id="question" class="single-pricing text-center mt-30">
                        <div class="pricing-package">
                            <h5 class="package-title">How much time do I have to dedicate for a research study?

                            </h5>
                        </div>
                        <div class="pricing-body">
                            
                            <div class="pricing-list">
                                <p>
                                    Each study will create a unique experience for you. Information about the length and requirements of the study will be discussed between the participant and researcher after they match. Research compensation can be discussed between the participant and the researcher. 
                                    </p>
                            </div>
                            
                        </div>
                    </div> <!-- single pricing -->
                </div>
                <div>
                    <div id="question" class="single-pricing text-center mt-30">
                        <div class="pricing-package">
                            <h5 class="package-title">Can I get paid to participate in a research study?

                            </h5>
                        </div>
                        <div class="pricing-body">
                            
                            <div class="pricing-list">
                                <p>Yes! Discussions about financial reimbursement should happen between research participants and researchers. PICO will help researchers save money on transportation, venue rental, poster printing, advertising, food and drinks and other expenses needed to recruit participants. This is an opportunity to reflect on research spendings and reinvest them in innovative methods that can have greater benefit. </p>
                            </div>
                            
                        </div>
                    </div> <!-- single pricing -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PRICING PART ENDS ======-->

    <!--====== BLOG PART START ======-->

    <section id="blog" class="blog-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">Meet the Team</h2>
                        <p>PICO is lead by scientists and health professionals who are passionate about changing the world of research with technology.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div id="sajeda" class="col-lg-4 col-md-8 col-sm-9" style="padding-right: 100px;">
                    <div class="single-blog mt-30">
                        <div class="blog-image">
                            <img id="profile-photos" src="assets/images/blog/b-1.jpg" alt="Blog">
                        </div>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="https://www.linkedin.com/in/sajeda-mokbel/">Sajeda Mokbel</a></h4>
                            <h6>CTO/Founder</h6>
                            <span>Sajeda is a Software Developer from Toronto. She has a background in Physics from the University of Waterloo, and is developing AI-accelerated numerical solvers for scientific research. She is very passionate about creating technology that tackles real-world problems - particularly in science and healthcare. She is contributing to PICO by building its platform.  </span>
                        </div>
                    </div> <!-- single blog -->
                </div>
                <div id="mady" class="col-lg-4 col-md-8 col-sm-9">
                    <div class="single-blog mt-30">
                        <div class="blog-image" id="mady-image">
                            <img class="profile-photos" src="assets/images/blog/b-2.jpg" alt="Blog">
                        </div>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="#">Madalina Cretu</a></h4>
                            <h6>CEO/Founder</h6>
                            <span>Madalina is a Registered Nurse in Toronto. She is contributing to the creation of  PICO by bringing the perspectives of a research participant, a healthcare provider and Masters student involved in some research studies. Her passion to advocate for accessibility, equity and safety in the distribution of healthcare services motivated her attempt to innovate the traditional research practices. </span>
                        </div>
                    </div> <!-- single blog -->
                </div>
                
            </div> <!-- row -->
            
        </div> <!-- container -->
    </section>

    <!--====== BLOG PART ENDS ======-->

    <!--====== CONTACT PART START ======-->

    <section id="contact" class="contact-area pt-125 pb-130 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">Get In Touch</h2>
                        <p>Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis, urna est ultricies eros, ac porta sem turpis quis leo.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                

                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-comment"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Sajeda Mokbel</h6>
                            <p>CTO/ Founder</p>
                            <p><a href="mailto:sajeda.mokbel@gmail.com">sajeda.mokbel@gmail.com</a></p>
                            
                        </div>
                    </div> <!-- contact box -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-envelope"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">PICO Email</h6>
                            <p>Company</p>
                            <p><a href="mailto:research.pico@gmail.com">research.pico@gmail.com</a></p>
                            <!-- <p>info@helpline.com</p> -->
                        </div>
                    </div> <!-- contact box -->
                </div>
            
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-comment"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Mady Cretu</h6>
                            <p>CEO/ Founder</p>
                            <p><a href="mailto:mady.cretu@gmail.com">mady.cretu@gmail.com</a></p>
                            
                        </div>
                    </div> <!-- contact box -->
                </div>
            </div> <!-- row -->
            <!-- <div class="row">
                <div class="col-lg-6">
                    <div class="contact-form pt-30">
                        <form id="contact-form" action="assets/contact.php">
                            <div class="single-form">
                                <input type="text" name="name" placeholder="Name">
                            </div> single form -->
                            <!-- <div class="single-form">
                                <input type="email" name="email" placeholder="Email">
                            </div> single form -->
                            <!-- <div class="single-form">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div> single form -->
                            <!-- <p class="form-message"></p>
                            <div class="single-form">
                                <button class="main-btn" type="submit">Send Message</button>
                            </div>  single form -->
                        <!-- </form> --> 
                    <!-- </div> contact form -->
                <!-- </div> -->
                <!-- <div class="col-lg-6">
                    <div class="contact-map mt-60">
                        <div class="gmap_canvas">                            
                            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Mission%20District%2C%20San%20Francisco%2C%20CA%2C%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div> contact map -->
                <!-- </div> -->
            </div>  
        </div> <!-- container -->
    </section>

    <!--====== CONTACT PART ENDS ======-->

    <!--====== FOOTER PART START ======-->

    <footer id="footer" class="footer-area">
        <div class="footer-widget">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="footer-content text-center">
                            <p>pico research</p>
                            <p class="mt-">social media for good</p>
                            <ul>
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                
                                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div> <!-- footer content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        <div class="footer-copyright pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text text-center pt-20">
                            <p>Copyright © 2022</a></p>
                        </div> <!-- copyright text -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->







    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Parallax js ======-->
    <script src="assets/js/parallax.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>


    <!--====== Appear js ======-->
    <script src="assets/js/jquery.appear.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="assets/js/scrolling-nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>


    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

</body>

</html>
